{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<footer class="container">
<center>
    <h2>Загрузи изображение,чтобы начать </h2>


{% for msg in get_flashed_messages() %}
<div   class="alert alert-info">{{msg}}</div>
{% endfor %}

    <form action="/" method="post" enctype=multipart/form-data>
        <div style="margin-top: 5%;">
        {{ form.csrf_token }}
        {{ form.upload}}
        <input type="submit" value="Отправить">
        </div>
        <div style="margin-top: 5%;">
        {{ form_captcha.csrf_token }}
        {{ form_captcha.recaptcha }}
        </div>
    </form>


</center>
</footer>
{% endblock %}


